<!DOCTYPE html>
<html lang="en-US">
<head>
  <link rel=stylesheet href="public/css/style.css"/>
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="jquery-ui/jquery-ui.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script src="app.js"></script>
</head>
<body ng-app="introApp" ng-init="qty=1;cost=2;">

<div ng-controller="IntroController">
 	<h1>Hello {{name}}</h1>
 	<p>Name : <input type="text" ng-model="name"></p>
  <hr>
  <p>What are you searching for, {{name}}?</p>
  <input type="text" ng-model="search">
  <button>Search</button>
  <hr>Our Synth Inventory:
  
  <table id="synthTable" border="1" style="cursor: pointer;">
  <tr ng-repeat="x in synths | orderBy : 'price' | filter:search  | filter:query as filtered" >
    <td ng-click="mybrandfunction(x)">{{ x.brand }}</td>
    <td ng-click="mymodelfunction(x)">{{ x.model }}</td>
    <td>$ {{ x.price }}</td>
  </tr>
</table>


<div class="hidden" id="dialog" title="More Info">
  <p> {{ synth.brand }} {{ synth.model }}, Polyphonic: {{ synth.polyphony }}</p>
</div>

<div class="hidden" id="dialog2" title="Would Like to Display Image in this box">
  <div>
<h1>{{ synth.brand }}</h1>
<img id='synthimage' ng-src= "{{ synth.src }}" >
</div>



</div>

    <hr>    
    Synth inventory has {{filtered.length}} items, {{name}}.
  

  

</body>
</html>
