body{
    width: 53%;
    margin: auto;
    margin-top:20px;
    padding:24px;
    float:none;
    padding:20px;
 color: #0000D8;
  background: linear-gradient(to bottom,#808 42%, #C0C0C0 58%);
  background-size: auto 2px;
  outline: 10px dashed #0000D8;
  box-shadow: 0 1 10 10px #1B676B;
  font-size:32px;
  animation: 5s animateBorderThree ease infinite;
  z-index: -3;   
}

.hidden {
     display:none;
    
}

#synthimage{
    max-width: 500px;
}

header{
    font-size:32px;
    text-shadow: 1px 1px 1px white, 2px 2px 2px black, 3px 3px 3px white, 4px 4px 4px black;
float:none;
margin: auto;
}

input {
  background-color: #ffffff;
  border: 2px solid #cccccc;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
     -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
      -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
       -o-transition: border linear 0.2s, box-shadow linear 0.2s;
          transition: border linear 0.2s, box-shadow linear 0.2s;
}

hr{
    border:10px solid #f0f;
}

table{
    font-size: 28px;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


h1 {
text-shadow: 1px 1px 1px white, 2px 2px 2px black, 3px 3px 3px white, 4px 4px 4px black;
float:none;
margin: auto;
}

ul{
float:none;
margin: auto;
}

li{
text-shadow: 1px 1px 1px #000069, 2px 2px 2px #ffffff, 2px 2px 3px #000000, 3px 3px 4px #808;
}


.footer{
    width:100%;
border: 4px solid #0000D8;
z-index: 100px;
}

.wireframe{
width: 90%;
border: 3px solid #000;
}
.animateme {
  color: #D80000;
  background: linear-gradient(to bottom,#808 42%, #C0C0C0 58%);
  background-size: auto 2px;
  outline: 100px dashed #0000D8;
  box-shadow: 10 0 0 10px #C0C0C0;
  animation: 1s animateBorderThree ease infinite;
  z-index: -3;
}

.animateme2 {
  color: #D80000;
  background: linear-gradient(to bottom,#808 42%, #C0C0C0 58%);
  background-size: auto 2px;
  outline: 10px dashed #0000D8;
  box-shadow: 10 0 0 10px #C0C0C0;
  animation: 1s animateBorderThree ease infinite;
  z-index: -3;
}

img{
z-index: 100;
}


.bottomline
{
width:100%;
}



@keyframes animateBorderThree {
  to {
    outline-color: #F020D8;
    box-shadow: 0 0 0 100px #D80098;
    z-index: -3;
  }
}
 /* Responsive TABLET LAYOUT  */
           @media all and (max-width:780px) {
            body {
                    width:75%;
            }
           
    }
 /* Responsive PHONE LAYOUT  */
           @media all and (max-width:480px) {
            body {
                    width:80%;
            }
           
    }
    
.ui-dialog-content{
border: 2px groove #f0f;
}


.ui-dialog{
border: 2px groove #f0f;
background-color: aquamarine;
}

.ui-dialog-title{
background-color: aliceblue;
}

.ui-dialog-titlebar-close{
width:50%;
max-width: 200px;
height: 100px;
float: right;
background-image: url(http://ridethegrid.net/web200/final/images/keriloading.gif);
background-size:100%;
background-repeat: no-repeat;
}